<div class="fixed right-1 top-1 z-10">
  <button
    (click)="openGallery()"
    class="border border-solid border-indigo-500 text-white bg-indigo-500 rounded-md shadow-md hover:shadow-none hover:bg-indigo-400 hover:border-indigo-500 transition-all p-1"
  >
    <ng-icon name="radixImage" class="!block" />
  </button>
</div>

<div class="grid inset-0 absolute place-content-center">
  <div class="max-w-[calc(100vw-20px)]">
    <div class="p-1 shadow-md rounded-md bg-white cursor-crosshair mb-5">
      <canvas
        #canvas
        width="400"
        height="300"
        class="max-w-full"
        (mousemove)="onMove($event)"
        (mousedown)="onDown($event)"
        (touchmove)="onTouchMove($event)"
        (touchstart)="onTouchStart($event)"
      ></canvas>
    </div>
    <div
      class="flex bg-indigo-500 rounded-md shadow-md divide-x divide-indigo-700 border border-solid border-indigo-700 text-white overflow-hidden"
    >
      <button (click)="clear()" type="button" class="p-1 hover:bg-red-400">
        <ng-icon name="radixTrash" class="!block" />
      </button>
      <button
        (click)="enableEraser()"
        type="button"
        class="p-1 hover:bg-indigo-400"
        [class.!bg-indigo-600]="mode === 'eraser'"
      >
        <ng-icon name="radixEraser" class="!block" />
      </button>
      <button
        (click)="enablePencil()"
        type="button"
        class="p-1 hover:bg-indigo-400"
        [class.!bg-indigo-600]="mode === 'pencil'"
      >
        <ng-icon name="radixPencil1" class="!block" />
      </button>
      <div class="flex-grow p-1 px-2 flex items-center">
        <input
          class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer"
          type="range"
          step="1"
          min="1"
          max="10"
          [(ngModel)]="lineWidth"
          (ngModelChange)="setLineWidth()"
        />
      </div>
      <button
        (click)="upload()"
        type="button"
        class="p-1 hover:bg-emerald-400"
        [disabled]="uploadDisabled"
      >
        @if (uploadDisabled) {
        <ng-icon name="radixUpdate" class="animate-spin !block" />
        } @else {
        <ng-icon name="radixUpload" class="!block" />
        }
      </button>
    </div>
  </div>
</div>
